<section class="commonSection applyAmoutSec">
    <div class="container" style="margin-top: 200px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="sec_title">Loan Detail Calculation</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="applyamountFrom">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Fee</th>
                            <th>Amount to be paid
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>  Overdue EMI interest
                            </td>
                            <td>  2% per month on EMI / Principal Overdue
                            </td>
                          </tr>
                          <tr>
                            <td>  Legal/Incidental Charges
                            </td>
                            <td>  At actuals
                            </td>
                          </tr>
                          <tr>
                            <td>  Amortization Schedule Charges
                            </td>
                            <td>  ₹ 200/-</td>
                          </tr>
                          <tr>
                            <td>  Amortization Schedule Charges
                            </td>
                            <td>  ₹ 200/-</td>
                          </tr>
                          <tr>
                            <td>  Cheque Bounce Charges
  
                            </td>
                            <td>    ₹ 550/- per cheque bounce
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>
  </section>
 